footer {
  background-color: #292929;
  height: 30rem;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  border: 1px solid black;
  font-weight: 300;
  font-family: "Barlow", serif;
  font-style: normal;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  padding-left: 23.5rem;
  padding-right: 15rem;
}

.child-footer {
  border-top: 0.5px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location .mail .phone {
  display: flex;
  flex-direction: row;
}

.img-space {
  padding-right: 1.5rem;
}

.comm-details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.location {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.mail {
  display: flex;
  align-items: center;
}

.phone {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.pizza-list {
  margin-top: 2.77rem;
}

.insta {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin-right: -10rem;
  margin-top: 2.77rem;
}

.pizza-list-ul li {
  list-style-type: none;
  line-height: 2rem;
  margin-left: -2.46rem;
}

.insta-imgs img {
  margin-right: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
}
