.success-main {
  background-color: red;
  padding-bottom: 18rem;
}

.success-logo {
  display: block;
  margin: auto;
  padding-top: 3rem;
}

.success-text {
  display: inline-block;
  margin-left: 41.5rem;
  padding-top: 2.5rem;
  text-align: center;
  line-height: 1rem;
  border-bottom: 1px solid white;
}

.success-text h2 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 6rem;
  color: white;
  margin-bottom: 5.5rem;
}

.success-text h3 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #fdc913;
}

.order-recap {
  /* text-align: center; */
  color: white;
  margin-left: 63rem;
  margin-top: 4.5rem;
  scale: 1.4;
  font-weight: 300;
  font-family: "Barlow", serif;
  font-style: normal;
}

.order-recap ul li {
  list-style-type: none;
  line-height: 1.6rem;
}

.recap-price {
  border: 1px solid white;
  display: block;
  margin-top: 4.88rem;
  margin-left: 44rem;
  margin-right: 44rem;
  color: white;
  border-radius: 0.47rem;
  line-height: 0.1rem;
  width: 30rem;
  font-weight: 400;
  font-family: "Barlow", serif;
  font-style: normal;
}

.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.recap-price p {
  display: inline-block;
  font-size: 1.3rem;
  /* border: 1px solid black; */
}

.toplam-text {
  margin-left: 3rem;
  margin-bottom: 2.4rem;
  margin-top: 3rem;
  font-weight: bold;
}

.toplam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.main-p-button a {
  text-decoration: none;
  color: black;
}

.dynamic-bold {
  font-weight: 600;
}

.recap-details {
  width: 15rem;
}
